<div class="flex flex-col justify-between items-center gap-y-5 overflow-hidden">
  <div class="flex justify-center items-center flex-col gap-y-3">
    <img class="w-15 h-15 rounded-full bg-dark dark:bg-slate-200" [src]="logo" alt="" />
    <h2 class="text-xl font-semibold dark:text-white">MediaFlow</h2>
    <p class="text-secondary dark:text-slate-300">Enter your email to receive a reset link</p>
  </div>

  <div class="w-full sm:w-[50%] p-[20px] flex justify-center">
    <div
      class="p-[20px] w-full sm:w-[90%] lg:w-[70%] flex flex-col gap-y-5 border-2 border-sky-100 dark:bg-slate-800"
    >
      @if (mainContent()) {
        <div class="flex flex-col gap-y-[5px]">
          <label class="text-lg font-medium dark:text-white" for="em">Email</label>
          <input
            (input)="hideWarn()"
            [(ngModel)]="email"
            [ngClass]="showWarn() ? 'border-danger' : 'border-primary'"
            class="border outline-0 w-full p-[5px] dark:text-white"
            type="text"
            id="em"
          />
          @if (showWarn()) {
            <p class="text-danger">Enter a valid Email</p>
          }
        </div>
        <button
          (click)="continue()"
          class="bg-green-500 font-semibold p-2 text-[3vw] sm:text-lg w-full text-white cursor-pointer"
        >
          Send Reset Link
        </button>
      } @else {
        <div class="text-center flex flex-col gap-2">
          <fa-icon class="text-green-500 text-2xl lg:text-[3vw]" [icon]="check"></fa-icon>
          <h3 class="dark:text-white">Check your email</h3>
          <p class="text-left dark:text-slate-400">
            We have sent a password reset link to your email.<br />
            Please check your inbox and click the link to continue.
          </p>
        </div>
      }

      <p class="dark:text-white">
        Back to Sign In
        <span routerLink="/register/signin" class="text-primary cursor-pointer"> Sign in →</span>
      </p>
    </div>
  </div>
</div>
