<div class="text-center px-6 py-8">
  <div class="text-center mb-20">
    <h2 class="font-semibold text-[4vw] text-dark mb-4 dark:text-white">Find by Speciality</h2>
    <p class="text-[2vw] text-secondary dark:text-slate-400">
      Simply browse through our extensive list of trusted doctors,
      <br />
      schedule your appointment hassle-free.
    </p>
  </div>

  <ul class="flex items-center lg:justify-between text-center gap-8 mx-auto overflow-x-scroll">
    @for (key of specialityKeys; track $index) {
      <li class="text-center shrink-0">
        <img
          routerLink="/doctors"
          [queryParams]="{ speciality: key }"
          class="w-15 h-15 lg:w-[7vw] lg:h-[7vw] block mx-auto mb-2 bg-sky-200 hover:bg-danger rounded-full cursor-pointer"
          [src]="speciality[key]"
          alt=""
        />

        <p class="text-secondary text-[2.5vw] md:text-[1.5vw] font-semibold">{{ key }}</p>
      </li>
    }
  </ul>
</div>
