<div class="flex flex-col justify-between items-center gap-y-5 overflow-hidden">
  <div class="flex justify-center items-center flex-col gap-y-3">
    <img class="w-15 h-15 rounded-full bg-dark" [src]="logo" alt="" />
    <h2 class="text-xl font-semibold">MediaFlow</h2>
    <p>Enter your new secure password below</p>
  </div>

  <div class="w-full sm:w-[50%] p-[20px] flex justify-center">
    <form
      [formGroup]="newPassForm"
      (ngSubmit)="submit()"
      class="p-[20px] w-full sm:w-[90%] lg:w-[70%] flex flex-col gap-y-5 border-2 border-sky-100"
    >
      <div class="flex flex-col gap-y-[5px]">
        <label class="text-lg font-medium" for="pass">New Password</label>
        <input
          formControlName="newPassword"
          class="border outline-0 w-full p-[5px]"
          type="text"
          id="pass"
        />

        @if (newPassword?.touched && newPassword?.invalid && newPassword?.dirty) {
          @if (newPassword?.getError('required')) {
            <div class="text-danger">password is required</div>
          } @else if (newPassword?.getError('pattern') || newPassword?.getError('maxlength')) {
            <div class="text-danger">password is invalid</div>
          } @else if (newPassword?.getError('minlength')) {
            <div class="text-danger">Enter a strong password</div>
          }
        }
      </div>

      <div class="flex flex-col gap-y-[5px]">
        <label class="text-lg font-medium" for="pass">Confirm New Password</label>
        <input
          formControlName="reNewPassword"
          class="border outline-0 w-full p-[5px]"
          type="text"
          id="pass"
        />

        @if (reNewPassword?.touched && reNewPassword?.invalid && reNewPassword?.dirty) {
          @if (reNewPassword?.getError('required')) {
            <div class="text-danger">password is required</div>
          } @else if (reNewPassword?.getError('pattern') || reNewPassword?.getError('maxlength')) {
            <div class="text-danger">password is invalid</div>
          } @else if (reNewPassword?.getError('minlength')) {
            <div class="text-danger">Enter a strong password</div>
          }
        }
      </div>
      @if (newPassForm.hasError('isEqual') && showEqualityWarn()) {
        <div class="text-danger">password and repassword are not equal</div>
      }
      <button
        class="bg-green-500 font-semibold p-2 text-[3vw] sm:text-lg w-full text-white cursor-pointer"
      >
        Update Password
      </button>
    </form>
  </div>
</div>
